/* Base Styles */
* {
  box-sizing: border-box;
}

h1 {
  font-family: Brushstroke, fantasy;
  color: #000000;
  text-align: center;
}

body {
  background-color: #FEF5CA;
}

p {
  position: relative;
  clear: right;
}

.container {
  border: none;
  margin: 10px auto;
  padding: 10px;
}

section {

  position: relative;

  padding: 15px;

  width: 100%;

}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}


	row {

  width: 90%;

}

/*desktop version*/

@media (min-width: 992px) {

  .column-lg-4 {

    float: left;

    width: 33.33%;

  }

}
/*tablet version*/

@media (min-width: 768px) and (max-width: 991px) {

  .colmn-md-6 {

    float: left;

    width: 50%;

    margin-left: auto;

    margin-right: auto;

  }

  .colmn-md-12 {

    float: left;

    width: 100%;

    margin-left: auto;

    margin-right: auto;

  }

}

/*mobile version*/
@media (max-width: 767px) {

  .colmn-sm-12 {

    float: left;

    width: 100%;

  }

}
