/* Base Styles */

* {

	box-sizing: border-box;

}

h1 {

	font-family: Brushstroke, fantasy;

	color: #000000;

	text-align: center;

}

body {

	
  background-color: #FEF5CA;

}

p {

	padding: 10px;

	margin: 0;

}

.container {

	border: none;

	margin-left: auto;

	margin-right: auto;

	margin-top: 10px;

	margin-bottom: 10px;

	padding: 10px;

}

section {

	border:	1px solid black;
